<div class="container-fluid">
    <h2 class="text-center mt-3">Admin Dashboard</h2>
    <h3 class="text-center">Welcome To Bus Booking System</h3>

    <div class="row mt-5 p-5">
        <h4 class="text-center">Buses List</h4>
        <button class="btn btn-primary m-4" data-bs-toggle="modal" data-bs-target="#addServiceModal">+ {{ 'Add New Bus'   }}</button>
        
        <input style="width: 200px; border: 2px solid black;" type="text" class="form-control m-4" [placeholder]="'search'  " [(ngModel)]="filterTermBuses"
        />
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-success table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Type</th>
                      <th scope="col">Color</th>
                      <th scope="col">No Plate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bus of busList | filter: filterTermBuses | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{bus.type}}</td>
                      <td>{{bus.color}}</td>
                      <td>{{bus.noPlate}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="justify-center" style="float: right;">               
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>

            </div>

        </div>
    </div>
    <div class="row mt-5 p-5">
        <h4 class="text-center">Drivers List</h4>
        <input style="width: 200px; border: 2px solid black;" type="text" class="form-control m-4" [placeholder]="'search'  " [(ngModel)]="filterTermDriver"
        />
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-success table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Address</th>
                      <th scope="col">Email</th>
                      <th scope="col">Bus Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let driver of driverList | filter: filterTermDriver | paginate: { itemsPerPage: 5, currentPage: p2 }; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{driver.name}}</td>
                      <td>{{driver.address}}</td>
                      <td>{{driver.driverEmail.emails}}</td>
                      <td><span *ngFor="let bus of driver.bIds">{{bus.type}} |</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="justify-center" style="float: right;">               
                  <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                </div>

            </div>

        </div>
    </div>
    <div class="row mt-5 p-5">
        <h4 class="text-center">Passengers List</h4>
        <input style="width: 200px; border: 2px solid black;" type="text" class="form-control m-4" [placeholder]="'search'  " [(ngModel)]="filterTermPassenger"
        />
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-success table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Gender</th>
                      <th scope="col">Contact</th>
                      <th scope="col">Is Member</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let passenger of passengerList | filter: filterTermPassenger | paginate: { itemsPerPage: 5, currentPage: p3 }; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{passenger.name}}</td>
                      <td>{{passenger.gender}}</td>
                      <td>{{passenger.passengerContact?.contacts}}</td>
                      <td>{{ passenger.passengerMember ? 'Yes' : 'NO'}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="justify-center" style="float: right;">               
                  <pagination-controls (pageChange)="p3 = $event"></pagination-controls>
                </div>

            </div>

        </div>
    </div>
</div>













<!-- Modal Service Add -->
<div class="modal fade" id="addServiceModal" data-bs-backdrop="static"  tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addServiceModalLabel">Add New Service</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div><div class="modal-body">
          <h5>Please fill all the fields</h5>
          <form [formGroup]="busForm">
            <div class="row">
              <div class="col-md-5">
                <label>No Plate</label>
                <input type="text" class="form-control" 
                formControlName="No_Plate"
                [class.is-invalid]="
                  getBusFormProperty('No_Plate')?.invalid &&
                  (getBusFormProperty('No_Plate')?.touched ||
                  getBusFormProperty('No_Plate')?.dirty)
                ">
                <div class="invalid-feedback">Please enter valid No Plate</div>
              </div>
              <div class="col-md-5 offset-md-1">
                
                <label>Driver</label>
                <select (change)="onChangeCat($event)" class="form-control">
                  <option selected disabled>-Select Category-</option>
                  <option *ngFor="let cat of DriversList" [value]="cat.serviceCategoryId">{{cat.title}}</option>
                </select>
                
                <div class="invalid-feedback">Please select valid driver</div>
              
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-5">
                <label>Color</label>
                <input type="text" class="form-control"
                formControlName="color"
                [class.is-invalid]="
                getBusFormProperty('color')?.invalid &&
                  (getBusFormProperty('color')?.touched ||
                  getBusFormProperty('color')?.dirty)
                ">
                <div class="invalid-feedback">Please enter valid color</div>
              </div>
              <div class="col-md-5 offset-md-1">
                <label>Type</label>
                <input type="text" class="form-control"
                formControlName="type"
                [class.is-invalid]="
                getBusFormProperty('type')?.invalid &&
                  (getBusFormProperty('type')?.touched ||
                  getBusFormProperty('type')?.dirty)
                ">
                <div class="invalid-feedback">Please enter type</div>
              </div>
            </div>
    
    
    
    
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmitBusForm()">Save Detail</button>
        </div>
      </div>
    </div>
    </div>
    
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
        </ngx-spinner>