
<div class="row p-2">
    <img class="d-block w-100" height="300px" src="/assets/Bus-Booking-Banner.jpg" alt="First Slide">
  
  </div>
  <div class="container">
  
    <div class="row m-4 text-center">
      <h3>Life is Journey, Choose Best</h3>
      <p>Quick Find Booking of Your Route</p>
      <ul class="text-center" style="display: flex; list-style: none;">
        <li class="m-2">
            <label>Date Time:</label>
          <input #selectedDate type="date" class="form-control" placeholder="">
        </li>
        <li class="m-2">
            <label>From:</label>
          <input type="text" class="form-control" placeholder="Type From Location...">
        </li>
        <li class="m-2">
            <label>To:</label>
          <input type="text" class="form-control" placeholder="Type To Location...">
        </li>
        <li class="m-2">
          <button class="btn btn-primary mt-4 ml-3" (click)="search(selectedDate.value)">Search Booking</button>
        </li>
      </ul>
    </div>
  
    <div class="row text-center m-4">
      <h3>Top Bus Bookings</h3>
    </div>
  
    <div class="row">
  
      <div class="col-4" style="margin-top: 10px" *ngFor="let Bus of displayBussList; let i = index">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem; margin-left:30px;">
            <img class="card-img-top" [src]="i%2 == 0 ? '/assets/bus2.jfif' : '/assets/bus1.jfif'" alt="Card image cap" width="286px" height="150px">
            <div class="card-body">
                <h5 class="card-title">{{Bus.title}}</h5>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Bus Type:</b> {{Bus.type}}</li>
                <li class="list-group-item"><b>Route:</b> {{i%2 == 0 ? 'Augusta' : 'New Orleans'}}</li>
                <li class="list-group-item"><b>Ticket Price:</b> {{Bus.rentPerDay ? Bus.rentPerDay : 20 | currency}}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Check Out</a>
                <a  class="ml-2 btn btn-sm btn-success float-right" (click)="goToCreateBooking(Bus.bId)" >Book Now</a>
            </div>
        </div>
  
    </div>
  
    </div>
  </div>
  